In [ ]:
import pandas as pd

In [ ]:
datas={"Name":["Anjal","Aju","Aj"],"Age":["21,22,23"]}
datas

In [ ]:
datas={"Name":["Anjal","Aju","Aj"],"Age":["21,22,23"]}
df=pd.Series(datas)
df

In [ ]:
datas={"Name":["Anjal","Aju","Aj"],"Age":[21,22,23]}
df=pd.DataFrame(datas)
df
# data={"Name":["Anjal","Haris","Akash"],"Age":[25,22,20]}
# df=pd.DataFrame(data)
# df

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df.head(6)

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df.tail(6)

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df.info()

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df.add_prefix("car_")

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df.add_suffix("_of the system")

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df.dropna(inplace=True)
df

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df.dropna(inplace=True)
df

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df.fillna("Zero",inplace=True)
df

In [ ]:
df=pd.read_csv("sample.csv")
df.columns

In [ ]:
df=pd.read_csv("sample.csv")
df.axes

In [ ]:
df=pd.read_csv("sample.csv")
df.describe()

In [ ]:
df=pd.read_csv("sample.csv")
df.shape

In [ ]:
df=pd.read_csv("sample.csv")
newdf=df.fillna("zero")
newdf

In [ ]:
df=pd.read_csv("sample.csv")
df["Name"].fillna("ROLL",inplace=True)
df

In [ ]:
df=pd.read_csv("sample.csv")
# df.loc[4]
df.take([4])

In [ ]:
df=pd.read_csv("Inventory_v2.csv")
# df.filter(items=["inventoryType","quantity"])
df.get(["quantity","inventoryType"])
# df

In [ ]:
df=pd.read_csv("sample.csv")
df.drop_duplicates()

In [ ]:
# df=pd.read_csv("sample.csv")
data={"Name":["Anjal","Aju","Aj"],"Age":[21,22,23]}
df=pd.DataFrame(data)
df.at[1,"Age"]

In [ ]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Anjal', 'Aju', 'Alana'],
    'Age': [22, 25, 20],
    'City': ['Kochi', 'Chennai', 'Delhi']
}

df = pd.DataFrame(data)



# Access a single value using .at
age_of_aju = df.at[1, 'Age']
print("\nAge of Aju:", age_of_aju)

# Modify a single value using .at
df.at[2, 'City'] = 'Mumbai'

print("\nUpdated DataFrame:\n", df)