In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as Sns
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,ConfusionMatrixDisplay
from sklearn.ensemble import RandomForestClassifier

In [24]:
df=pd.read_csv("SMSSpamCollection",sep="\t",names=["label","message"])
df

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [31]:
x=df["message"]
y=df["label"]
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: label, Length: 5572, dtype: object

In [32]:
vector=TfidfVectorizer(stop_words='english')
x_vector=vector.fit_transform(x)
x_vector

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 43578 stored elements and shape (5572, 8444)>

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x_vector,y,test_size=0.2,random_state=42)
x_train

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 34855 stored elements and shape (4457, 8444)>