In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("loan_800.csv")
df

,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Term,Credit_History,Gender,Married,Education,Self_Employed,Property_Area,Loan_Status
0,21966,14877,549,84,0,Female,Yes,Not Graduate,Yes,Semiurban,0
1,17725,2777,559,12,1,Male,No,Graduate,Yes,Urban,0
2,19730,12298,216,84,1,Male,Yes,Not Graduate,No,Semiurban,1
3,23602,3003,523,84,1,Male,Yes,Graduate,Yes,Urban,0
4,17377,3871,413,36,1,Female,Yes,Graduate,Yes,Urban,0
...,...,...,...,...,...,...,...,...,...,...,...
795,10974,12213,76,36,1,Male,Yes,Graduate,No,Urban,1
796,15120,230,426,240,1,Female,No,Not Graduate,Yes,Semiurban,0
797,3904,14384,552,12,1,Female,Yes,Graduate,Yes,Rural,0
798,16884,12622,428,180,0,Male,Yes,Not Graduate,Yes,Rural,0
799,7359,2219,426,300,0,Female,Yes,Not Graduate,No,Semiurban,0

In [3]:
label=LabelEncoder()
for i in df.select_dtypes(include=["object"]).columns:
    df[i]=label.fit_transform(df[i]) 
df

,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Term,Credit_History,Gender,Married,Education,Self_Employed,Property_Area,Loan_Status
0,21966,14877,549,84,0,0,1,1,1,1,0
1,17725,2777,559,12,1,1,0,0,1,2,0
2,19730,12298,216,84,1,1,1,1,0,1,1
3,23602,3003,523,84,1,1,1,0,1,2,0
4,17377,3871,413,36,1,0,1,0,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...
795,10974,12213,76,36,1,1,1,0,0,2,1
796,15120,230,426,240,1,0,0,1,1,1,0
797,3904,14384,552,12,1,0,1,0,1,0,0
798,16884,12622,428,180,0,1,1,1,1,0,0
799,7359,2219,426,300,0,0,1,1,0,1,0

In [4]:
x=df.drop("Loan_Status",axis=1)
y=df["Loan_Status"]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
model=RandomForestClassifier()
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)
y_pred

In [ ]:
accuracy=accuracy_score(y_test,y_pred)   
accuracy
print(f"accuracy score{accuracy*100:0.2f}%")

In [ ]:
plt.figure(figsize=[10,6])
sns.scatterplot(x=model.feature_importances_,y=x.columns)
plt.show()