In [22]:
import pandas as pd

In [23]:
datas={"Name":["ANjal","Aju","aju"],
       "Age":[20,21,23]}
datas

{'Name': ['ANjal', 'Aju', 'aju'], 'Age': [20, 21, 23]}

In [24]:
datas={"Name":["ANjal","Aju","aju"],
       "Age":[20,21,23]}

df=pd.DataFrame(datas)
df

    Name  Age
0  ANjal   20
1    Aju   21
2    aju   23

In [25]:
datas={"Name":["ANjal","Aju","aju"],
       "Age":[20,21,23]}

df=pd.Series(datas)
df

Name    [ANjal, Aju, aju]
Age          [20, 21, 23]
dtype: object

In [26]:
df=pd.read_csv("anjal_sample.csv")
df

    Name Brand Model  number
0    BMW    B1   NaN  4545.0
1   Benz   NaN    w2  5645.0
2    NaN    A1   NaN  8989.0
3    BMW    B1    w1     NaN
4   Benz   Be1    w2  3445.0
5    NaN    B1    w1    45.0
6   Benz   Be1   NaN  5656.0
7    NaN   Be1    w2  3445.0
8    BMW    B1    w1    45.0
9   Benz   Be1   NaN  5656.0
10  Benz   Be1   NaN  5656.0
11   NaN   Be1    w2  3445.0
12   BMW    B1    w1    45.0
13  Benz   Be1   NaN  5656.0
14  Benz   Be1   NaN  5656.0

In [27]:
df=pd.read_csv("anjal_sample.csv")
df.head(10)

   Name Brand Model  number
0   BMW    B1   NaN  4545.0
1  Benz   NaN    w2  5645.0
2   NaN    A1   NaN  8989.0
3   BMW    B1    w1     NaN
4  Benz   Be1    w2  3445.0
5   NaN    B1    w1    45.0
6  Benz   Be1   NaN  5656.0
7   NaN   Be1    w2  3445.0
8   BMW    B1    w1    45.0
9  Benz   Be1   NaN  5656.0

In [28]:
df=pd.read_csv("anjal_sample.csv")
df.tail(10)

    Name Brand Model  number
5    NaN    B1    w1    45.0
6   Benz   Be1   NaN  5656.0
7    NaN   Be1    w2  3445.0
8    BMW    B1    w1    45.0
9   Benz   Be1   NaN  5656.0
10  Benz   Be1   NaN  5656.0
11   NaN   Be1    w2  3445.0
12   BMW    B1    w1    45.0
13  Benz   Be1   NaN  5656.0
14  Benz   Be1   NaN  5656.0

In [29]:
df=pd.read_csv("anjal_sample.csv")
df.add_prefix("Car_")

FileNotFoundError: [Errno 2] No such file or directory: 'sample.csv'

In [ ]:
df=pd.read_csv("sample.csv")
df.add_suffix("_Car of the result")

In [ ]:
df=pd.read_csv("sample.csv")
df.info()

In [ ]:
df=pd.read_csv("sample.csv")
df.dropna()
# df

In [ ]:
df=pd.read_csv("sample.csv")
df.dropna(inplace=True)
df

In [ ]:
df=pd.read_csv("sample.csv")
df.dropna(subset=["Name"])
# df

In [ ]:
df=pd.read_csv("sample.csv")
df.fillna("Zero",inplace=True)
df

In [ ]:
df=pd.read_csv("sample.csv")
df["Name"].fillna("TATA",inplace=True)
df

In [ ]:
df=pd.read_csv("sample.csv")
df.columns

In [ ]:
df=pd.read_csv("sample.csv")
df.axes

In [ ]:
df=pd.read_csv("sample.csv")
df.shape[1]

In [ ]:
df=pd.read_csv("sample.csv")
df.describe()

In [ ]:
df=pd.read_csv("sample.csv")
df.values

In [ ]:
df=pd.read_csv("sample.csv")
df.iloc[4]

In [ ]:
df=pd.read_csv("sample.csv")
df.take([4])

In [35]:
import pandas as pd
df=pd.read_csv("anjal_sample.csv")
df.drop_duplicates()

   Name Brand Model  number
0   BMW    B1   NaN  4545.0
1  Benz   NaN    w2  5645.0
2   NaN    A1   NaN  8989.0
3   BMW    B1    w1     NaN
4  Benz   Be1    w2  3445.0
5   NaN    B1    w1    45.0
6  Benz   Be1   NaN  5656.0
7   NaN   Be1    w2  3445.0
8   BMW    B1    w1    45.0

In [33]:
df=pd.read_csv("anjal_sample.csv")
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
12     True
13     True
14     True
dtype: bool

In [ ]:
df=pd.read_csv("sample.csv")
df.replace("BMW","Suzuki")

In [ ]:
import pandas as pd
df=pd.read_csv("anjal_sample.csv")
df

    Name Brand Model  number
0    BMW    B1   NaN  4545.0
1   Benz   NaN    w2  5645.0
2    NaN    A1   NaN  8989.0
3    BMW    B1    w1     NaN
4   Benz   Be1    w2  3445.0
5    NaN    B1    w1    45.0
6   Benz   Be1   NaN  5656.0
7    NaN   Be1    w2  3445.0
8    BMW    B1    w1    45.0
9   Benz   Be1   NaN  5656.0
10  Benz   Be1   NaN  5656.0
11   NaN   Be1    w2  3445.0
12   BMW    B1    w1    45.0
13  Benz   Be1   NaN  5656.0
14  Benz   Be1   NaN  5656.0

In [ ]:
import pandas as pd
df=pd.read_csv("sample.csv")
df.filter(items=["Brand","Model"])

In [ ]:
datas={"Name":["ANjal","Aju","aju"],
       "Age":[20,21,23]}
df=pd.DataFrame(datas)

newname=df.at[1,"Name"]
print("The name is:",newname)

In [ ]:
s1=pd.Series([1,2,3])
s2=pd.Series([4,5,6])
result=s1.dot(s2)
result

In [ ]:
data=[[10,18,11],[13,15,8],[9,20,3]]
df=pd.DataFrame(data)
print(df)
df.diff()

In [41]:
df=pd.read_csv("anjal_sample.csv")
df.drop_duplicates(inplace=True)
df.index

Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [ ]:
df=pd.read_csv("sample.csv")
for x,y in df.iterrows():
    # print(x)
    print(y)

In [ ]:
df=pd.read_csv("sample.csv")
df.isnull()

In [ ]:
df=pd.read_csv("sample.csv")
df.count()

In [ ]:
df=pd.read_csv("sample.csv")
df.drop_duplicates(inplace=True)
df.index

In [ ]:
df=pd.read_csv("sample.csv")
for x,y in df.items():
    print(x)

In [ ]:
df=pd.read_csv("sample.csv")
for x,y in df.items():
    print(y)

In [ ]:
df=pd.read_csv("sample.csv")
for x,y in df.iterrows():
    print(x)

In [ ]:
df=pd.read_csv("sample.csv")
for x,y in df.iterrows():
    print(y)

In [ ]:
df=pd.read_csv("sample.csv")
df.isnull()

In [ ]:
df=pd.read_csv("sample.csv")
df.count()

In [ ]:
df=pd.read_csv("sample.csv")
df.empty

https://github.com/akashnandhu?tab=repositories

In [ ]:
# http://localhost:8080/phpmyadmin/
# https://github.com/akashnandhu?tab=repositories

In [ ]:
import pandas as pd

df=pd.read_csv("sample.csv")
df.isna()

In [ ]:
import pandas as pd
df=pd.read_csv("anjal_sample.csv")
df.sample(2)

  Name Brand Model  number
5  NaN    B1    w1    45.0
8  BMW    B1    w1    45.0

series
dataframe
read csv
add pefix
add sufix
info
dropna
fillna
loc   take iloc
filter    get
at
eval 
pop
column
axes
describe
values
shape
apply pipe transform
where mask 
insert assign
count
index
concat merge join
duplicate
drop duplicate
items 
iterrows
eq  isin
isnull  notnull notna
empty
replace

In [ ]:
import pandas as pd 
df=pd.read_csv("anjal_inventory.csv")
# df.eval("Anjal = daysOfSupplyLowerThreshold + daysOfSupplyUpperThreshold", inplace=True)
df.pop("inventoryType")
df