# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [15]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [16]:
df=pd.read_csv("drinks.csv")
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 3. Assign it to a variable called drinks.

In [17]:
drinks=pd.read_csv("drinks.csv")
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [18]:
drinks["average"]=df.select_dtypes(include=["int"]).mean(axis=1)
drinks["average"].max()
df.at[3,"continent"]
# df

'EU'

### Step 5. For each continent print the statistics for wine consumption.

### Step 6. Print the mean alcohol consumption per continent for every column

In [19]:
df.select_dtypes(include=[int]).mean(axis=0)

beer_servings      106.160622
spirit_servings     80.994819
wine_servings       49.450777
dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [20]:
df.select_dtypes(include=[int]).median(axis=0)

beer_servings      76.0
spirit_servings    56.0
wine_servings       8.0
dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [21]:
drinks["spirit_servings"].mean
drinks["spirit_servings"].min
drinks["spirit_servings"].max

<bound method Series.max of 0        0
1      132
2        0
3      138
4       57
      ...
188    100
189      2
190      0
191     19
192     18
Name: spirit_servings, Length: 193, dtype: int64>